.App {
  text-align: center;
}

@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}

.error-page {
  display: flex;
  height: 100vh;
  width: 100vw;
  /* flex-wrap: wrap; */
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-size: 1rem;
  background-color: black;
  color: white;
}

.table-responsive{
  height: 100vh;
  overflow: hidden;
  background-color: #13192f;
}

/* table */
th,
td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
   text-align: center;
}

td {
  color: white;
}


table {
  width: 100vw;
  table-layout: fixed;
  font-size: 1rem;
}
.table-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 120px;
  background-color: #13192f;
  color: white;
  overflow: hidden;
}
.input input {
  position: fixed;
  top: 87px;
  right: 120px;
  border: none;
  border-radius: 10px;
  width: 300px;
  text-align: center;
}

thead {
  background-color: white;
  color: black;
}
.pagination {
  padding: 10px;
  margin: 10px 0px;
  display: flex;
  justify-content: center;
}
.pagination span {
  padding: 10px 10px;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
}

/* .pagination span:hover{
  background-color: white;
  color: black;
} */

.pagination .active {
  background-color: white;
  color: black;
}

.active {
  background-color: #1e2742;
}
.disabled {
  background-color: red;
}

/* Navbar */
.navbar {
  background-color:white;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  width: 100vw;
  overflow: hidden;
  z-index: 999;
}
.navbar h3 {
  flex: 1;
  font-size: 1.5rem;
  font-weight: 600;
}

.menu-bars {
  margin-left: 1rem;
  font-size: 2rem;
  background: none;
  color: white;
  background-color: grey;
  height: 50px;
  width: 50px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
}

.menu-bars:hover{
  color:black
}

.nav-menu {
  background-color:#13192f;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 700ms;
  z-index: 999;
}

.nav-menu.active {
  left: 0;
  transition: 700ms;
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
  overflow: hidden;
}

.nav-text a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  width: 94%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #1e2742;
}

.nav-menu-items {
  width: 100vw;
}

.navbar-toggle {
  background-color: #13192f;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 999;
}
span {
  margin-left: 16px;
}

ol, ul {
  padding-left: 0rem;
}

/* form  */
.form-container{
  align-items: center;
  height: 100vh;
  padding: 120px;
  background-color: #13192f;
  color: white;
  width: 100vw;
  /* overflow: hidden; */
  /* border: 1px solid white */
}

.error{
  color: red;
  font-size: 0.8rem;
  /* visibility: hidden; */
}

.form{
 border: 1px solid white;
 padding: 14px;
 border-radius: 10px;
 overflow: hidden;
}

/* Dashboard */

.home{
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  /* flex-direction: column; */
  justify-content: center;
  font-size: 1.5rem;
  background-color: #13192f;
  color: white;
}

.home-container{
  display: flex;
  flex-direction: column;
}
/* .heading{
  margin-top: 50px;
} */

.kpi{
  display: flex;
  gap: 1.5rem;
  margin-top: 80px;
  justify-content: center;
}

.kpi .first{
  padding: 5px;
  /* border: 1px solid white; */
  width:200px;
  border-radius: 10px;
  background-color: #1e2742;
  box-shadow: 2px 0px  25px black;
  cursor: pointer;
  /* overflow: hidden; */
}

.name{
  font-size: 1rem;
  font-weight: 400;
}
 
/* charts */

.charts{
  display: flex;
  gap: 2rem;
  margin-top: 100px;
  justify-content: center;
  z-index: 1;
}

.chart{
  border: 1px solid white;
  border-radius: 10px;
  /* width: 700px; */
  height: 350px;
  width: 1000px;
  overflow: auto;
  color: white;
  background-color: white;
  margin: 20px;
  box-shadow: 3px 0px  30px black;
} 

.first:hover{
  color: black;
  background-color: white;
}

.chartdiv{
  width: 100%;
  height: 300px;
  background-color: white;
  font-size: 0.9rem;
  z-index: -999;
}

.title{
  color: white;
  background-color: #1e2742;
  font-size: 1.3rem;
  font-weight: 100;
}

.loading{
  /* justify-content: center; */
  font-size: 1rem;
  color: grey;
}

.loading img{
  width: 800px;
  height: 500px;
}

.aboutus img{
  width: 100vw;
}


/* .yearDropdown{
margin-top: 10px;
margin-left: 450px ;
font-size: 1rem;

} */

select{
  border: 2px solid #1e2742;
  border-radius: 10px;
  cursor: pointer;
}

#productCategoryPie1{
  font-size: 0.8rem;
}

.filters{  
  display: flex;
  justify-content: right;
  font-size: 1rem;

}
.map-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:100%;
  padding: 120px;
 background-color: #1e2742;
  /* overflow: hidden; */
}

.worldMap{
  border: 1px solid white;
  border-radius: 10px;
  overflow: hidden;
  color: white;
  height: 550px;
  width: 100%;
}

.success {
  display: flex;
  position: fixed;
  top : 0;
  left : 25%;
  width: 50%;
  height: 70%;
  margin-top: 100px;
  border: none;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  z-index: 999;
 background-color: #1e2742;
}
.custom-submit-button {
 background-color: #4caf50;
  color: #fff;
  border: none;
  width: 10rem;
  border-radius: 20px;
}


